<?xml version="1.0"?>
<launch>

<!-- ************************************************************** -->
<!--						Arguments								-->
<!-- ************************************************************** -->

	<!-- Running options -->
	<arg name="autostart"			default="False" />

	<!-- Parameters -->
	<arg name="wheelchair_description"	default="$(find cnbiros_wheelchair_description)/urdf/wheelchair.urdf.xacro" />
	<arg name="params_wheelchair"		default="$(find cnbiros_wheelchair_bochum)/params/params_wheelchair.yaml" />
	<arg name="params_shareddynamics"	 default="$(find cnbiros_wheelchair_bochum)/params/dynamics/params_shared_dynamics.yaml" />


<!-- ************************************************************** -->
<!--						Wheelchair								-->
<!-- ************************************************************** -->

	<!-- Wheelchair parameter load -->
	<rosparam subst_value="True" file="$(arg params_wheelchair)" command="load" />

	<!-- Wheelchair description -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg wheelchair_description)" />

	<!-- Transformations -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

<!-- ************************************************************** -->
<!--						Navigation								-->
<!-- ************************************************************** -->

	
	<!-- Shared navigation -->
	<rosparam subst_value="True" file="$(arg params_shareddynamics)" command="load" />

	<!-- Proximity Grid converters -->
	<node pkg="cnbiros_shared_navigation" type="laserscan_to_proximitygrid" output="screen" name="laserscan_to_proximitygrid" /> 
	<node pkg="cnbiros_shared_navigation" type="point_to_proximitygrid" output="screen" name="point_to_proximitygrid" /> 

	<!-- Proximity Grid visualization -->
	<node pkg="cnbiros_shared_navigation" type="proximitygrid_visualizer" output="screen" name="visualizer_repellors" > 
		<remap from="/proximity_grid" to="shared_dynamics/repellors" />
		<remap from="/visualization" to="shared_dynamics/repellors_visualization" />
	</node>
	
	<node pkg="cnbiros_shared_navigation" type="proximitygrid_visualizer" output="screen" name="visualizer_attractors" > 
		<remap from="/proximity_grid" to="shared_dynamics/attractors" />
		<remap from="/visualization" to="shared_dynamics/attractors_visualization" />
	</node>


	<!-- Shared dynamics -->	
	<!-- <node pkg="cnbiros_shared_navigation" type="shared_dynamics" output="screen" name="shared_dynamics" /> -->

	

</launch>
