<?xml version="1.0"?>
<launch>

<!-- ************************************************************** -->
<!--					RVIZ visualization							-->
<!-- ************************************************************** -->
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cnbiros_wheelchair_description)/launch/wheelchair_footprint_dynamics.rviz"/>

</launch>
